.btn-primary:active,
.btn-primary:focus {
    background-color: #000079;
}

/*四角加粗,中间有线*/
.el-card0 {
    background:
        linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) left top,
        linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) left top,
        linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) right top,
        linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) right top,
        linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) left bottom,
        linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) left bottom,
        linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) right bottom,
        linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) right bottom,
        linear-gradient(rgba(56, 144, 184, 0.60), rgba(56, 144, 184, 0.60)) top,
        linear-gradient(rgba(26, 87, 130, 0.60), rgba(26, 87, 130, 0.60)) bottom,
        linear-gradient(rgba(56, 144, 184, 0.60), rgba(219, 240, 255, 0.80), rgba(26, 87, 130, 0.60)) left,
        linear-gradient(rgba(56, 144, 184, 0.60), rgba(219, 240, 255, 0.80), rgba(26, 87, 130, 0.60)) right;
    background-repeat: no-repeat;
    background-position: 0px 0px, 0px 0px, 0px 100%, 0px 100%, 100% 0px, 100% 0px, 100% 100%, 100% 100%, 0px 0px, 0px 100%, 0px 100%, 100% 100%;
    background-size: 2px 10px, 10px 2px, 2px 10px, 10px 2px, 2px 10px, 10px 2px, 2px 10px, 10px 2px, 100% 1px, 100% 1px, 1px 100%, 1px 100%;
    background-color: #020e2d;
    filter: alpha(Opacity=90);
    -moz-opacity: 0.90;
    opacity: 0.90;
    box-shadow: 5px 5px 8px #000
}

/*-----------------------共用窗口樣式----------------------*/
/*窗口標題*/
.windowhead {
    width: 100%;
    height: 25px;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-left: 3px;
    background-image: url("image/titleback.png");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    /*border-bottom:1px solid #4e7cf4;*/
    position: relative;
}

/*footline 标题下部划线*/
.footline {
    width: calc(100% - 40px);
    height: 0px;
    border-bottom: 1px solid rgba(56, 144, 184, 0.30);
    /*margin-left:40px;*/
    position: absolute;
    left: 40px;
    bottom: 0;
}


html,
body,
form,
#mainwindow {
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

body {
    background-color: #2c3e50;
    background-attachment: fixed;
    background: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

#modelwindow {
    float: right;
    height: 60px;
    width: calc(100% - 220px);
    /*margin-right: 10px;*/
    line-height: 60px;
    color: white;
    text-align: center;
}

/*圖表樣式*/
#leftdiv {
    height: calc(85% - 15px);
    width: calc(50% - 15px);
    margin-left: 10px;
    float: left;
}

#dituwindow {
    width: 100%;
    /* height: calc(50% - 7px); */
}

h5 {
    border-radius: 10px;
    font-size: 15px;
    background-color: #0099ff;
    color: black;
    text-align: center;
    padding-right: 4px;
    padding-left: 4px;

}

h4 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
}

h3 {
    font-size: 30px;
    width: 80px;
    font-weight: bold;
    text-shadow: 0 0 1em #6d94fd, 0 0 2em #6d94fd;
    color: white;
    /*#4e7cf4*/
    text-align: center;
    font-size: 1.6em;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

hr {
    display: block;
    margin: auto;
    height: 1px;
    width: 95%;
    border: 0;
    border-top: 1px solid rgb(58, 58, 56);
    padding: 0;
}

.factory-icon {
    width: 11vh;
    height: 11vh;
    margin: auto;
    margin-left: 11px;
    text-align: center;
    fill: #0099ff;
}

.factory-name {
    border-radius: 10px;
    font-size: 15px;
    width: 40px;
    background-color: #0099ff;
    color: black;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

.date-button {
    border-radius: 2px;
    font-size: 12px;
    width: 60px;
    background-color: #0099ff;
    color: black;
    text-align: center;
    border: 1px solid #3e566d96;
}

.factory-button {
    border-radius: 2px;
    font-size: 12px;
    width: 60px;
    background-color: #b5b5b6;
    color: black;
    text-align: center;
    border: 1px solid #3e566d96;
}

:root {
    --active-color: yellow;
    --hover-color: #36f780;

    /* --bg-color: #929FC7; 如果取消全局顏色設定，背景將會變成黑色的 */
}

.change-children-color:hover :nth-child(odd) {
    fill: var(--hover-color);
}

.change-children-color:hover :nth-child(even) {
    background-color: var(--hover-color);
}

.change-children-color.active :nth-child(odd) {
    fill: var(--active-color);
    text-shadow: 0 0 1em #6d94fd, 0 0 2em #6d94fd;
}

.change-children-color.active :nth-child(even) {
    background-color: var(--active-color);
}

button:hover {
    background-color: var(--hover-color);
}

button.active {
    background-color: var(--active-color);
}


a,
input[type='radio']+label {
    /* text-align: center; */
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

input[type='radio'] {
    display: none;
}

/* -------------------
	Default State
-------------------- */
a.glowBtn,
input[type='radio']+label {
    z-index: 10;
    /*margin: 0 10px 10px 0;*/
    width: 115.5px;
    height: 37.29px;
    line-height: 36.3px;
    position: relative;
    font-size: 13.2px;
    letter-spacing: .1em;
    color: #0e0e0e;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExMTExMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    /* background-size: 100%; */
    /* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #111111), color-stop(100%, #000000)); */
    background-image: -moz-linear-gradient(#111111, #000000);
    /* background-image: -webkit-linear-gradient(#111111, #000000); */
    /* background-image: linear-gradient(#111111, #000000); */
    /*-moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 3px;*/
    -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 3px rgba(255, 255, 255, 0.2);
    /* -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 3px rgba(255, 255, 255, 0.2); */
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 3px rgba(255, 255, 255, 0.2);
}

a.glowBtn:after,
input[type='radio']+label:after {
    z-index: -1;
    content: '';
    cursor: pointer;
    /*top: 1.98px;
  margin-left: 50%;*/
    top: 0px;
    margin-left: 0%;
    /*left: -20px;*/
    width: 110px;
    height: 33px;
    display: block;
    position: absolute;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3MzczOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #373738));
    background-image: -moz-linear-gradient(#444444, #373738);
    background-image: -webkit-linear-gradient(#444444, #373738);
    background-image: linear-gradient(#444444, #373738);
    -moz-box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
    border-color: red;
    /*-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;*/
}

/* -------------------
	Hover States
-------------------- */
a.glowBtn:hover,
a.hover,
input[type='radio']+label:hover {
    color: #AEAEAE;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

a.glowBtn:hover:after,
a.hover:after,
input[type='radio']+label:hover:after {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3MzczOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #545454), color-stop(100%, #373738));
    background-image: -moz-linear-gradient(#545454, #373738);
    background-image: -webkit-linear-gradient(#545454, #373738);
    background-image: linear-gradient(#545454, #373738);
    border-color: red;
}

/* -------------------
	Active States
-------------------- */
a.glowBtn:active,
a.active,
a.active:hover,
input[type='radio']:checked+label {
    color: #00ccff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 0px 30px rgba(0, 255, 255, 0.7);
    -moz-box-shadow: 0 -1px 0 rgba(0, 193, 255, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 20px rgba(0, 193, 255, 0.1), 0 0 30px rgba(0, 193, 255, 0.1);
    -webkit-box-shadow: 0 -1px 0 rgba(0, 193, 255, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 20px rgba(0, 193, 255, 0.1), 0 0 30px rgba(0, 193, 255, 0.1);
    box-shadow: 0 -1px 0 rgba(0, 193, 255, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 20px rgba(0, 193, 255, 0.1), 0 0 30px rgba(0, 193, 255, 0.1);
}

a.glowBtn:active,
a.active,
a.active:hover {
    text-shadow: 0 -1px 0 black, 0 0px 30px cyan, 0 0px 50px cyan;

}

a.glowBtn:active:after,
a.active:after,
a.active:hover:after,
input[type='radio']:checked+label:after {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJkMmQyZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262627), color-stop(100%, #2d2d2e));
    background-image: -moz-linear-gradient(#262627, #2d2d2e);
    background-image: -webkit-linear-gradient(#262627, #2d2d2e);
    background-image: linear-gradient(#262627, #2d2d2e);
    -moz-box-shadow: inset 0 5px 6px rgba(0, 0, 0, 0.3), inset 0 0 4px rgba(0, 0, 0, 0.9), 0 0 2px #00ccff;
    -webkit-box-shadow: inset 0 5px 6px rgba(0, 0, 0, 0.3), inset 0 0 4px rgba(0, 0, 0, 0.9), 0 0 2px #00ccff;
    box-shadow: inset 0 5px 6px rgba(0, 0, 0, 0.3), inset 0 0 4px rgba(0, 0, 0, 0.9), 0 0 2px #00ccff;
}

/* -------------------
	Radio Specific Style
-------------------- */
input[type='radio']+label {
    font-family: 'ModernPictogramsNormal', Arial, sans-serif;
    font-size: small;
    line-height: 20px;
    letter-spacing: 0;
    width: 40px;
    height: 20px;
}

input[type='radio']+label:after {
    /*top: 2.64px;*/
    left: 0.0px;
    width: 40.0px;
    height: 20.0px;

}

input[value='Plant2']+label:after {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

input[value='PlantCD']+label:after {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.bar-label {
    border-radius: 8px;
    text-align: center;
}

.bar-label:after {
    border-radius: 8px;
    text-align: center;
}




/* -------------------
	SuperBtn
-------------------- */
a.superBtn {
    color: #0e0e0e;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    letter-spacing: .08em;
    width: 242.0px;
    height: 39.6px;
    line-height: 39.6px;
    position: relative;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlMzUzNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQyNDc0OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e3537), color-stop(100%, #424748));
    background-image: -moz-linear-gradient(#2e3537, #424748);
    background-image: -webkit-linear-gradient(#2e3537, #424748);
    background-image: linear-gradient(#2e3537, #424748);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 0 0px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.4);
}

a.superBtn:after {
    width: 253.0px;
    height: 49.5px;
    top: -4.95px;
    margin-left: 50%;
    left: -126.5px;
    content: '';
    display: block;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhZjFmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE3YjJlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2af1fc), color-stop(100%, #17b2e6));
    background-image: -moz-linear-gradient(#2af1fc, #17b2e6);
    background-image: -webkit-linear-gradient(#2af1fc, #17b2e6);
    background-image: linear-gradient(#2af1fc, #17b2e6);
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: -1;
}

/* -------------------
	SuperBtn Hover
-------------------- */
a.superBtn:hover {
    color: #AEAEAE;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3MzczOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #545454), color-stop(100%, #373738));
    background-image: -moz-linear-gradient(#545454, #373738);
    background-image: -webkit-linear-gradient(#545454, #373738);
    background-image: linear-gradient(#545454, #373738);
}

a.superBtn:hover:after {
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 0 15px 5px rgba(0, 255, 255, 0.2);
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 0 15px 5px rgba(0, 255, 255, 0.2);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 0 15px 5px rgba(0, 255, 255, 0.2);
}

a.superBtn:active {
    color: #00ccff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 0px 30px rgba(0, 255, 255, 0.7);
    background: #333;
    -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4), inset 0 3px 3px rgba(0, 0, 0, 0.7), inset 0 0 4px rgba(0, 0, 0, 0.9), 0 0 0 black;
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4), inset 0 3px 3px rgba(0, 0, 0, 0.7), inset 0 0 4px rgba(0, 0, 0, 0.9), 0 0 0 black;
    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4), inset 0 3px 3px rgba(0, 0, 0, 0.7), inset 0 0 4px rgba(0, 0, 0, 0.9), 0 0 0 black;
}